
        table,tr,td{
            border: 1px solid red;
            border-collapse: collapse;
        }
        tr:nth-child(odd){
            background-color: aquamarine;
        }
        p:hover{
            color: brown;
        }
        p::first-letter{
            color: rgb(46, 231, 21);
            font-size: 3.5rem;
        }
   p::after{
    content: ">";
   }